body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
#area-new-assignment {
  padding-bottom: 20px;
}
#assignment-main-desc{
  margin-top:10px;
  margin-bottom:0 !important;  
}
#assignment-main-desc td{
  border-top: none !important;
}
.panel-heading{
  background-color: white !important;
  color: black !important;
  border-bottom-style: none !important;
}
.assignment-body{
  background-color: white;
}
.panel-title{
  font-size: 1.6em;
}
span.glyphicon-pencil, span.glyphicon-download-alt, span.glyphicon-export{
  font-size: 1.6em !important;
}
span.toggle-icon{
  margin-right: 5px;
}
span.function-icon{
  margin-left: 15px;
}