body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.panel-heading{
  border-bottom: none;
}
#area-new-assignment {
  padding-bottom: 20px;
}
#assignment-new-area{
  margin-top:10px;
  margin-bottom: 0;
}
#assignment-new-area td{
  border-top: none !important;
}
.panel-heading{
  background-color: white !important;
  color: black !important;
}
.assignment-body{
  background-color: white;
  padding-top: 0px;
}
#btn-function-discard{
  margin-right:20px;
}