body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
#area-new-assignment {
  padding-bottom: 20px;
}
#assignment-main-desc{
  margin-top: 5px;
  margin-bottom:0 !important;  
}
#assignment-main-desc td{
  border-top: none !important;
}
.assignment-body-desc{
  margin-bottom:0 !important;  
}
.assignment-body-desc td{
  border-top: none !important;
}
.assignment-detail-label{
  width:200px !important;
}
.panel-heading{
  background-color: white !important;
  color: black !important;
  border-bottom-style: none !important;
}
.assignment-body{
  background-color: white;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
.panel-top-bar{
  display: inline-block;
  width: 100%;
}
.panel-title{
  font-size: 1.6em;
  float: left;
  display: inline-block;
}
.panel-icon-group{
  float: right;
  display: inline-block;
}
span.glyphicon-pencil, span.glyphicon-download-alt, span.glyphicon-export{
  font-size: 1.6em !important;
}
span.toggle-icon{
  margin-right: 5px;
}
span.function-icon{
  margin-left: 15px;
}